.users-table {
  display: grid;
  grid-template-columns: 1fr;
  border: 0.125rem solid #ebebeb;
  padding: 0;
}
.users-table__row {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  column-gap: 1rem;
  border-bottom: 0.125rem solid #ebebeb;
  padding: 1rem 2rem;
}
.users-table__row:last-child {
  border-bottom: none;
}
.users-table__row:nth-child(odd) {
  background-color: #fafafa;
}
.users-table__col-header {
  font-weight: bold;
}
.users-actions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}

.users-actions > button {
  background-color: #054273;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.users-actions > button:hover {
  background-color: #042c55;
}


.skillButton {
  /* display: grid; */
  grid-template-columns: repeat(6, 4fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}

.skillButton > button {
  display: flex;
  background-color: #054273;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.skillButton > button:hover {
  background-color: #042c55;
}
